
<!-- The home page contains all the links to the rest of the pages. (currently the user-related pages, contact-related-pages and general pages. ) -->


<%- include('partials/header') -%>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-4 home-grid">
            <ul class="home-list">
                User
                <li class="home-list-li"><a href= "/createUser" class="li-link-home">Create user</a></li>
                <li class="home-list-li"><a href="/readUser" class="li-link-home">Read user</a></li>
                <li class="home-list-li"><a href="/readUser" class="li-link-home">Update user</a></li>
            </ul>
        </div>
        <div class="col-md-4 home-grid">
            <ul class="home-list">
                Contact
                <li class="home-list-li"><a href="/createContact" class="li-link-home">Create contact</a></li>
                <li class="home-list-li"><a href="readContact.ejs" class="li-link-home">Read contact</a></li>
                <li class="home-list-li"><a href="updateContact.ejs" class="li-link-home">Update contact</a></li>
            </ul>
        </div>
        <div class="col-md-4 home-grid">
            <ul class="home-list">
                General Pages
                <li class="home-list-li"><a href="login.ejs" class="li-link-home">login</a></li>
                <li class="home-list-li"><a href="support.ejs" class="li-link-home">support</a></li>
            </ul>
        </div>
    </div>
</div>
<%- include('partials/footer') -%>